.inner {
    max-width: 1290px;
    margin: 0 auto;
}

.default {
    padding: 80px 0;
}

.default .title {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: serif;
}

.default .title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.default_btn {

    display: inline-flex;
    align-items: center;
    background: rgb(54, 47, 44, 0.9);
    color: #fff;
    padding: 0 24px;
    height: 48px;
    border-radius: 8px;

    white-space: nowrap;
}